# mostly following instructions from
# https://docs.aws.amazon.com/AmazonECS/latest/developerguide/docker-basics.html

- hosts: all
  become: true
  tasks:

    - name: Supplemental Packages for Amazon Linux
      ansible.builtin.yum:
        name: "spal-release"
        state: present
        update_cache: true

    - name: Upgrade all packages
      ansible.builtin.yum:
        name: "*"
        state: latest
        update_cache: true

    - name: Install system packages
      ansible.builtin.yum:
        name: "{{ item }}"
        state: present
      with_items:
        - "wget"
        - "git"
        - "gcc"
        - "python3-pip"
        - "python3-wheel"
        - "python3-devel"
        - "aws-cfn-bootstrap"
        - "chkconfig"
        - "docker-compose"

    - name: Install python packages
      ansible.builtin.pip:
        name: "{{ item }}"
        extra_args: "--target /usr/lib"
      with_items:
        - synapseclient[pandas,pysftp]

    - name: List all python packages
      ansible.builtin.command:
        cmd: pip3 freeze

    - name: Start docker service
      ansible.builtin.service:
        name: docker
        state: started

    - name: Make docker auto start
      ansible.builtin.service:
        name: "{{ item }}"
        enabled: true
      with_items:
        - docker

    - name: Add users to the docker group
      ansible.builtin.user:
        name: "{{ item }}"
        groups: docker
        append: true
      with_items:
        - ec2-user
        - ssm-user

    # ec2-user has this by default
    - name: Give ssm-user paswordless sudo
      community.general.sudoers:
        name: ssm-user
        user: ssm-user
        commands: ALL
        nopassword: true
