# mostly following instructions from
# https://docs.aws.amazon.com/AmazonECS/latest/developerguide/docker-basics.html

- hosts: all
  become: yes

  tasks:
    - name: Upgrade all packages
      yum: name=* state=latest

    - name: Install system packages
      ansible.builtin.yum:
        name: "{{ item }}"
        state: present
      with_items:
        - "curl"
        - "wget"
        - "jq"
        - "git"
        - "amazon-linux-extras"
        - "docker"

    - name: Start docker service
      ansible.builtin.service:
        name: docker
        state: started

    - name: Add the ec2-user and ssm-user to the docker group
      ansible.builtin.user:
        name: "{{ item }}"
        groups: docker
        append: yes
      with_items:
        - ec2-user
        - ssm-user

    - name: Make docker auto start
      ansible.builtin.service:
        name: "{{ item }}"
        enabled: yes
      with_items:
        - docker

    - name: install python packages
      ansible.builtin.pip:
        name: "{{ item }}"
        executable: pip3
      with_items:
        - docker-compose
        - synapseclient[pandas,pysftp]
